<div class="row">
  <div class="small-3 columns">
    <div id="menu">
      <div class="section-container vertical-nav" data-section>
        <section>
          <p class="title" data-section-title><a href="#">STOCKS</a></p>
          <div class="title" data-section-title>
            <p>Search</p>
            <p>Purchase</p>
            <p>Graph</p>
          </div>
        </section>
        <section>
          <p class="title" data-section-title><a href="#">Bank Data</a></p>
            <div class="title" data-section-title>
              <p>Current Balance</p>
              <p>Current Portfolio Value</p>
              <p>Change in Portfolio Value</p>
            </div>
        </section>
      </div>
    </div>
    <div id="form">
    </div>
  </div>
  <div class="small-9 columns">
    <div id="list">
    </div>
    <div id="chart">
      2. show graphs for selected stocks
    </div>
  </div>
</div>
