WELCOME TO STOCKS

1. list of current stocks owned by user
2. show graphs for selected stocks
3. form to purchase new stocks
<div class="row">
  <div class="small-3 columns">
  </div>
  <div class="small-9 columns">
  </div>
</div>
