<div class="row">
  <div class="small-3 columns">
    <div id="menu">
      <div class="section-container vertical-nav" data-section>
        <section>
          <h2 class="title" data-section-title><a href="#">Bank Data</a></h2>
            <div class="title" data-section-title>
              <p>Balance: $ </p>
              <p>Portfolio Value: $ </p>
              <p>Change in Portfolio Value: $ </p>
            </div>
        </section>
      </div>
    </div>
    <div id="form">
      <%=render :partial => 'stocks/form' %>
    </div>
  </div>
  <div class="small-9 columns">
    <div id="list">
    </div>
    <%=render :partial => 'stocks/view' %>
  </div>
</div>

