= link_to('Sign Up ', 'users_path', :remote => true, :class => 'button radius tiny alert')
= link_to('Sign In', 'login_path', :remote => true, :class => 'button radius tiny alert')
(INDEX PAGE)
%ol
  %li add background image
  %li add login
%div#new_user