header h1, header h4 {
color: #900000;
vertical-align: center;
display: inline;
}


html {
/*  background-color: #300000*/
color: #900000;
}

.row {
/*  border: 1px solid red;*/
/*  background-color: #00ff00;*/
}

/*div {
  border: 1px solid red;
}*/

#chart {
  height: 250px;
  border: 1px solid blue;
}

#main-box {
}

#landing {
  background: url('images/bull.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 250px;
  }
