header h1, header h4 {
color: #900000;
vertical-align: center;
display: inline;
}


html {
/*  background-color: #300000*/
color: #900000;
}

.row {
/*  border: 1px solid red;*/
/*  background-color: #00ff00;*/
}

/*div {
  border: 1px solid red;
}*/

#chart {
  height: 250px;
}

#main-box {
  background-image: "/images/bull.jpg";
  background-size: 100%;
  opacity: 20%;
}
